{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block title %}
    {% if title %}{{ title }} - Laneck Entertainment {% else %}Welcome to Laneck Entertainment {% endif %}
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('static', filename='mystyle.css')}}">
{% endblock %}


{% block navbar %}
<div class="nav">
    
    <button type="button" class="btn btn-default" aria-label="Left Align">
      <span class="glyphicon glyphicon-globe" aria-hidden="false"> </span>
      <a href="/index">View Homepage</a>
    </button>

    {% if current_user.is_anonymous %}
    <button type="button" class="btn btn-default" aria-label="Left Align">
      <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
      <a href="/login">Login</a>
    </button>
    {% else %}
    <button type="button" class="btn btn-default" aria-label="Left Align">
        <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
        <a href="/logout">Logout</a>
    </button>
    {% endif %}
    {% if current_user.is_authenticated %}
    <button type="button" class="btn btn-default" aria-label="Left Align">
        <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
        <a href="/music">View Tracks</a>
    </button>
    {% endif %}
    {% if current_user.isAdmin %}
    <button type="button" class="btn btn-default" aria-label="Left Align">
        <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
        <a href="/upload">Upload A Song</a>
      </button>
    {%endif%}




</div>
{% endblock %}}


{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}




